<!doctype html>
<html>

<head>
<meta charset="utf-8"><link rel="stylesheet" href="css/style.css">


<title>フォーム</title>
</head>

<body>
<p class="con_p">内容ご確認の上、よろしければ送信ボタンを押してください</p>
<div class="con_fo">
    <p>
        ●お名前：<span>!name!</span>
    </p>
    <p>
        ●好きな季節：<span>!radio!</span>
    </p>
    <p>
        ●理由：<span>!comment!</span>
    </p>
    <form action="form.php" method="post">
    <input type="hidden" name="mode" value="send">
    <input type="hidden" name="name" value="!name!">
    <input type="hidden" name="radio" value="!radio!">
    <input type="hidden" name="comment" value="!comment!">
    <input type="button" value="前に戻る" onclick="history.back()">
    <input type="submit" value="送信する">
    </form>
</div>
</body>

</html>
