<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>エラー</title>
</head>
<body>
    <div class="er">
        <p class="erp"><b>エラーが発生しました！</b></p>
        <p class="errorp">!errorm!</p>
        <form>
            <input type="button" value="戻る" onclick="history.back()" class="input3">
        </form>
    </div>
</body>
</html>