<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>送信完成</title>
</head>
<body>
    <div class="send">
        <p class="send_p">ご協力ありがとうございます!</p>
        <form>
            <input type="button" value="トップへ戻る" onclick="location.href='!mainp!';" class="input2">
        </form>
    <div class="img"><img src="img/send.png" alt="四季" class="img2"></div>

    </div>

</body>
</html>