<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>送信完成</title>
</head>
<body>
    <p>ありがとうございます。</p>
    <form>
        <input type="button" value="トップ戻る" onclick="location.href='!mainp!';">
    </form>
</body>
</html>